<body>
  <form>
    <h4>COVERED PERSONS AND PREMIUM CALCULATION</h4>
    <h4>MEDICAL HISTORY</h4>
    <div class="div1">
      <div class="div2">
        <p>Does any of the Covered Person have any serious pre-exsiting physical or mental
          <br>conditions?
        </p><br>
      </div>
      <div class="div3">
        <input type="text" id="specify" name="specify">
        <label>If yes, please specify</label>
        </div>
    </div>
    <label for="yes"><input type="radio" id="yes" name="yes" value="yes">Yes</label>
    
    
    
    <label for="no"><input type="radio" id="no" name="yes" value="no">No</label><br>
    <h4>WAIVER OF INSURANCE COVERAGE</h4>
    <p>I DECLINE to apply for Group Health Insurance coverage because of <input type="radio" id="spouse" name="coverage"
        value="spouse">
      <label for="spouse">Spousal Coverage</label>
    </p><br>
    <input type="radio" id="indi" name="coverage" value="indi">
    <label for="indi">Individual Coverage</label>
    <input type="radio" id="other" name="coverage" value="other">
    <label for="other">Other</label><br><br>
    
    <label for=" check"><input type="checkbox" id="check" name="check" value="check">I understand that this waiver of coverage may affect the ability to obtain coverage at a later
      date.</label>

    <h4 class="gn">CONDITIONS OF ENROLLMENT</h4>
    <form class="form2">
      <label class="L1" for="one">
        <input type="checkbox" id="one" name="one" value="one">
        I UNDERSTAND that providing false, incomplete, inaccurate or incorrect information to any of the questions on
        this Enrollment Form may be considered insurance fraud and may result in denial or cancellation of coverage.
      </label><br>


      <label for="two">
        <input type="checkbox" id="two" name="two" value="two">
        I HEREBY AUTHORIZE Jocata to make any required payroll deductions for this coverage and I understand that once
        enrolled I cannot remove myself or any covered person until the next enrollment period (unless death or
        divorce).</label><br>


      <label for="three">
        <input type="checkbox" id="three" name="three" value="three">
        I UNDERSTAND that Jocata does not provide any additional company-sponsored medical insurance. Insurance
        terminated on an employee's last working day.
      </label><br>


      <label for="four">
        <input type="checkbox" id="four" name="four" value="four">
        I CERTIFY that the information provided herein is true and correct.
      </label><br>




      <label for="five">
        <input type="checkbox" id="five" name="five" value="five">
        I UNDERSTAND the enrollment details and restrictions in the SBI Policy and SBI Employee Benefits Manual.
      </label><br>


      <label for="six">
        <input type="checkbox" id="six" name="six" value="six">
        I UNDERSTAND that this is an application only. No right is given to me or any person listed on this application
        until SBI General Insurance Company accepts me/us and premiums are paid.
      </label><br>


      <label for="seven">
        <input type="checkbox" id="seven" name="seven" value="seven">I AGREE that if I or a family member has a medical
        issue which is serious in nature I will coordinate with Admin and SBI regarding coverage before confirming
        enrollment.
      </label><br>



      <label for="eight">
        <input type="checkbox" id="eight" name="eight" value="eight">I ACKNOWLEDGE that the Medical History section of
        this Enrollment Form is true and complete for me and for each person applying for coverage. Each person applying
        for coverage is in good health, except for those conditions listed.
      </label>

      <h4 class="gn">SIGNATURE OF ENROLLING EMPLOYEE</h4>

      <div>
    
      <label for="checkbox"><input type="checkbox" id="check" name="checkbox">I understandand agree that the coverage I/we am/ are applying for is subject to the group eligibility and enrollment requirements. I have read the conditions of the Enrollment. I understand and agree to them.</label>
    
    
    
    </div><br>
    <div class="div4">
      
     <input type="date">
     <label for="" class="date-label">Date</label>
     
  </div>
</form>
</form>
</body>
<div class="buttons">
<div id="box2">
  <button class="exit">EXIT</button>
  <button class="save">SAVE</button>
  &nbsp;
  <button class="continue">SAVE & CONTINUE</button>


  
</div>
</div>